@import "tailwindcss";

/* КАСТОМНЫЙ ТЕМАТИЧЕСКИЙ СКРОЛЛБАР */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0b0d;
  border-left: 1px solid rgba(39, 39, 42, 0.4);
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 2px;
  border: 1px solid #3f3f46;
}

::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
  border-color: #f97316;
  box-shadow: 0 0 8px rgba(234, 88, 12, 0.5);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #0a0b0d;
}
